    <div class="modal-header bg-success">
        <h4 class="modal-title"><i class="fa fa-code"></i> Clean Description</h4>
    </div>
    
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-12">
                
                <div class="form-group">
                    <label for="content">Description</label>
                    <textarea class="form-control b-success" name="content" id="content" cols="20" rows="10" ng-model="form.content"></textarea>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal-footer bg-light">                  
        <button class="btn btn-warning" ng-click="cancel()">Batal</button>
        <button class="btn btn-success" ng-click="ok()">Lanjut</button>
    </div>