<div class="wrapper-md" ng-controller="KategoriGaleriRubah">  
    <form  ng-submit="save()" enctype="multipart/form-data" >
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading font-bold"><i class="fa fa-image"></i> Kategori Rubah</div>
        <div class="panel-body">
          
            <div class="form-group m-b">
              <label for="" class="font-bold m-l-xs">Judul :</label>
              <input type="text" class="form-control" placeholder="judul" ng-model="row.judul" required="">
            </div>
            <div class="form-group m-b">
              <label for="" class="font-bold m-l-xs">Slug :</label>
              <input type="text" class="form-control" placeholder="slug" ng-model="row.slug" >
            </div>                            
          
        </div>
      </div>
      <accordion close-others="acordion">          
        <accordion-group is-open="acordion">
          <accordion-heading><div class="font-bold"><i class="fa fa-rocket"></i> SEO <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': acordion, 'fa-angle-right': !acordion}"></i></div> </accordion-heading>                        
                <div class="form-group m-b">
                  <label for="" class="font-bold m-l-xs">Judul :</label>
                  <input type="text" class="form-control" placeholder="judul SEO" ng-model="row.seo_judul">
                </div>
                <div class="form-group m-b">
                  <label for="" class="font-bold m-l-xs">Kata Kunci :</label>
                  <input type="text" class="form-control" placeholder="Kata Kunci" ng-model="row.seo_kata_kunci">
                </div>
                <div class="form-group m-b">
                  <label for="" class="font-bold m-l-xs">Diskripsi :</label>
                  <textarea name="deskripsi" class="form-control" placeholder="Deskripsi SEO" ng-model="row.seo_deskripsi"></textarea>
                </div>                             
        </accordion-group>        
      </accordion>
    </div>
    <div class="col-sm-4">      
      <div class="panel panel-default">        
        <div class="panel-body">          
            
            <div>
              <label for="images" style="width: 100%;background-color: #ff6b6b;box-shadow: 2px 3px 5px rgba(100,100,100,0.3);min-height: 85px;margin-bottom: 10px;cursor: pointer;border-radius: 3px;">
                <span class="text-white font-thin h3" style="padding: 24px;position: absolute;"><i class="icon icon-picture" style=" position: relative;font-size: 30px;  top: 5px;margin-right: 5px"></i> PILIH GAMBAR</span>
              </label>
            </div>

            <input type="file" id="images" name="file" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" style="display:none"/>

            <div class="form-group" ng-show="image_source">
              <div class="inline bg-white wrapper-sm b-a">
                <div class="bg-light">
                  <img ng-src="{{image_source}}" style="max-width: 100%" />                    
                </div>
              </div>
            </div>            
            <input type="hidden" ng-model="row.id">
            <div class="form-group" style="display: table;margin: auto;">
              <style>.i-switch i:before{background: {{app.color.danger}} }</style>
              <label class="i-switch i-switch-md bg-success m-t-xs m-b-xs ">
                <input type="checkbox" value="1" ng-model="row.status">
                <i></i>
              </label>
            </div>
            <div class="text-center">
              <span style="font-size: 13px;font-weight: 700;"><i style="font-size:15px" ng-class="{'glyphicon glyphicon-eye-open text-success':row.status,'glyphicon glyphicon-eye-close text-danger':!row.status}"></i> Terbitkan</span>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="text-right">              
              <button class="btn btn-danger btn-addon btn-sm pull-left" ui-sref="app.galeri.kategori" ng-show="cancel" type="button"><i class="glyphicon glyphicon-remove"></i> Yakin?</button>
              <button class="btn  btn-sm pull-left m-l-xs" ng-show="cancel" ng-click="cancel = false" type="button">Tidak</button>
              <button class="btn btn-warning btn-sm pull-left" ng-click="cancel = true" ng-show="!cancel" type="button"><i class="fa fa-times"></i> Batal</button>         
              <button class="btn btn-success btn-addon btn-md" type="submit" id="submit"><i class="glyphicon glyphicon-floppy-saved" id="load"></i>Simpan</button>
            </div>
        </div>
      </div>
    </div>    
    </form>
  </div>

  
</div>